/* Estilo general para la página */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #0d1730; /* Azul marino oscuro */
    color: #FFFFFF; /* Letras blancas */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0; /* Eliminamos el padding extra */
    margin: 0; /* Eliminamos el margen extra */
    position: relative;
}

.header-image {
    background-image: url("ARRIBA ARRIBA.jpg"); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px; /* Ajuste la altura para que la imagen se vea correctamente */
}

#specialties {
    background-color: #FFFFFF;
    padding: 30px;
    color: #000000;
    margin-top: -10px; /* Ajuste para quitar el espacio extra */
}

#specialties h2 {
    text-align: center;
    font-size: 24px; /* Aumento el tamaño de la fuente */
    margin-bottom: 20px;
    text-transform: uppercase;
}

#specialties ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0; /* Aseguro que no haya espacio adicional */
}

#specialties li {
    display: inline-block;
    margin: 10px;
    font-size: 16px; /* Aumento el tamaño de la fuente */
    font-weight: bold;
    text-transform: uppercase;
}

#professionals {
    text-align: center;
    margin: 50px 0;
}

.professionals-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.professional-container {
    display: flex;
    justify-content: center; /* Centra las abogadas */
    gap: 50px; /* Espacio entre las fotos */
}

.professional-left, .professional-right {
    text-align: center;
    flex: 1; /* Asegura que las imágenes estén centradas dentro de sus contenedores */
}

.professional img {
    width: 270px;
    height: 340px; /* Proporción 4:5 */
    object-fit: cover; /* Ajuste adecuado de la imagen */
}

.professional-name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#contact {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.contact-box {
    background-color: #d6b884; /* Amarillo más oscuro */
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    color: #000000;
}

.contact-box h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.chat-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c8e6c9; /* Verde claro */
    color: #0d1730; /* Texto*
