/* Estilo general para la p치gina */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #0d1730; /* Azul marino oscuro */
    color: #FFFFFF; /* Letras blancas */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    position: relative;
    background-color: #0d1730; /* Azul marino oscuro */
}

.header-image {
    background-image: url("ARRIBA ARRIBA.jpg"); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px; /* Ajustar altura para que la imagen se vea bien */
    position: absolute;
    top: 0;
}

#presentation {
    text-align: center;
    margin-top: 50px;
}

#presentation h1 {
    font-size: 3em;
    color: #D6B884; /* Color dorado */
    text-transform: uppercase;
}

#presentation .slogan {
    font-size: 1.5em;
    color: #FFFFFF;
    font-style: italic;
    margin-top: 10px;
}

#specialties {
    background-color: #FFFFFF;
    padding: 20px;
    color: #000000;
}

#specialties h2 {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#specialties ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#specialties li {
    display: inline-block;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#professionals {
    text-align: center;
    margin: 50px 0;
}

.professional {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.professional img {
    width: 350px;
    height: 200px;
    object-fit: cover; /* Im치genes m치s grandes y bien ajustadas */
}

.professional-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#contact {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.contact-box {
    background-color: #d6b884; /* Amarillo m치s oscuro */
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    color: #000000;
}

.contact-box h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-column {
    width: 45%; /* Dos columnas */
    text-align: left;
}

.contact-column img {
    width: 20px; /* Ajustar los iconos */
    margin-right: 10px;
}

.chat-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c8e6c9; /* Verde claro */
    color: #0d1730; /* Texto en negro */
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #0d1730;
    color: #d6b884;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
